@import url('https://fonts.googleapis.com/css?family=Francois+One|Raleway');

.Main__Menu {
  font-family: "Francois One";
  font-size: 2em;
  color: black;
}
.navbar-default .navbar-nav > li {
  border-bottom: 2px solid white;
}
.navbar-default .navbar-nav > li.active {
  border-bottom: 2px solid #b543a0;
}
.navbar-default .navbar-brand {
  color: black;
  background-image: url("../images/logo-nowe.png");
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 165px;
}
.nav {
  font-family: Francois One;
  text-transform: uppercase;
  font-size: 1.5em;
}
.navbar-collapse {
  outline-color: white;
}
.navbar-default .navbar-collapse {
  margin-top: 10px;
}
.navbar-default .navbar-nav > li > a {
  background-color: white;
  color: black;
}
.nav > li:hover {
  outline-color: white;
  border-bottom: 2px solid #b543a0;

}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .active > a {
  background-image: none;
  box-shadow: none;
  background-color: white;
 }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: white;
  color: black;
}
.navbar-default {
  webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  background-color: white;
  border: none;
  outline-color: white;
}


