@import url('https://fonts.googleapis.com/css?family=Francois+One|Raleway');

.slick-prev:before, .slick-next:before {
    color: #b543a0;
}
.slick-next, .slick-prev,
.slick-next:hover, .slick-prev:hover,
.slick-next:focus, .slick-prev:focus {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 40px;
    border-radius: 3px;
    z-index: 10;
}
.slick-next {
    right: 4px;
}
.slick-prev {
    left: 4px;
}
.photo img {
    max-width: 98%;
    margin: 0 auto;
}
.slick-dots li.slick-active button:before {
    color: #b543a0;
}
.Object__Name {
    font-size: 3em;
    font-family: "Francois One", sans-serif;
    padding-left: 1em;
    margin: 1em 0;
}
section.Object__Details {
    padding-left: 40px;
}
.list-activities {
    column-count: 2;
    text-align: center;
    padding-left: 0;
}
.activities-details, .contact-details {
    padding: 20px 40px;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
}
.activities-details p, .contact-details p {
    font-family: Releway, sans-serif;
}
.activities-details h4, .contact-details h4 {
    font-family: Francois One, sans-serif;
    font-size: 1.8em;
}

.activities-details:hover, .contact-details:hover {
    border: 1px solid #b543a0;
}
.contact-details a {
    color: black;
}
.contact-details a:hover {
    color: #b543a0;
}

li.icon {
    padding-left: 25px;
    margin-top: 10px;

    background-repeat: no-repeat;
    background-size: contain;
    text-align: left;
    list-style: none;
}

li.fitness {
    background-image: url("../images/fitness.png");
}
li.zajecia-dla-dzieci {
    background-image: url("../images/zajecia-dla-dzieci.png");
}
li.solarium {
    background-image: url("../images/solarium.png");
}
li.sztuki-walki {
    background-image: url("../images/sztuki-walki.png");
}
li.masaż-wodny {
    background-image: url("../images/masaz-wodny.png");
}
li.jacuzzi {
    background-image: url("../images/jacuzzi.png");
}
li.zumba {
    background-image: url("../images/zumba.png");
}
li.basen {
    background-image: url("../images/basen.png");
}
li.kręgle {
    background-image: url("../images/kregle.png");
}
li.ścianka-wspinaczkowa {
    background-image: url("../images/scianka-wspinaczkowa.png");
}
li.taniec-towarzyski {
    background-image: url("../images/taniec-towarzyski.png");
}
li.sauna {
    background-image: url("../images/sauna.png");
}
li.siłownia {
    background-image: url("../images/silownia.png");
}
li.crossfit {
    background-image: url("../images/crossfit.png");
}

@media (max-width: 450px) {
    .list-activities {
        column-count: 1;
    }


}