.slick-prev:before, .slick-next:before {
    color: #b543a0;
}
.slick-next, .slick-prev,
.slick-next:hover, .slick-prev:hover,
.slick-next:focus, .slick-prev:focus {
    background-color: rgba(65, 65, 65, 0.78);
    height: 40px;
    width: 40px;
    border-radius: 10px;
    z-index: 10;
}
.slick-next {
    right: 20px;
}
.slick-prev {
    left: 20px;
}
.photo img {
    max-width: 98%;
    margin: 0 auto;
}