.btn-default, .btn-default:hover {
    background-image: linear-gradient(90deg, #b543a0, #b543a0);
    background-repeat: repeat-y;
    box-shadow: 1px 1px 1px 1px grey;
    color: white;
    border-color: #b543a0;
    border-radius: 0;
}

.btn-default:hover {
    box-shadow: 2px 2px 2px 2px grey;
}

.loading-spin {
    margin: auto auto;
    position: relative;
    top: 30vh;
}