* {
    font-family: Monaco, sans-serif;
}
.info {
    margin: 0.5em 0;
    padding: 0 1em 1em 0;
    border: 1px solid white;
    border-radius: 2px;
}
.info:hover {
    background-color: #fafafa;
    border-color: #b543a0;
}

.pin {
    height: auto;
    padding: 0;
}

.pin h2 {
    margin: 15px 0;
}

.main-description {
    padding: 0;
}

.description {
    display: block;
    text-align: left;
    height: auto;
    width: auto;
    position: relative;
    padding: auto;
}

.description h3 {
    color: #b543a0;
    margin: 20px 0;
    font-size: 16px;
    font-weight: bold;
    text-shadow: grey;
}

.description a {
    color: #b543a0;
}

.description a:hover {
    text-shadow: 0 0 1px grey;
    text-decoration: none;
}

.description span {
    color: grey;
    font-size: 11px;
    padding: 0;
    vertical-align: center;
}

.distance {
    padding-left: 20px;
    vertical-align: center;
    font-size: 11px;
    color: grey;
    font-weight: bold;
}

.website {
    padding-top: 10px;
    padding-bottom: 10px;
}
.website a {
    color: darkblue;
    font-size: 11px;
    font-weight: bold;
}

.website a:hover {
    text-decoration: none;
    text-shadow: 0 0 1px grey;
}

.contact {
    text-align: left;
    font-size: 11px;
    display: block;
    margin-top: 20px;
    padding-right: 0;
    padding-bottom:0;
    padding-left: 0;
    color: #606060;
    font-weight: bold;

}

.contact a {
    color: #b543a0;
    font-size: 11px;
    font-weight: bold;
    padding-top: 20px;
}

.contact a:hover {
    text-decoration: underline;
    text-shadow: 0 0 1px grey;
}

.center-block {
    margin-top: 20px;
}

.addToFav {
    margin-top: 0.5em;
    font-size: 1.5em;
    display: block;
    font-weight: bolder;
    font-family: "Droid Sans";

}
