* {
    font-family: Monaco, sans-serif;
}

.info {
    margin-left: 15%;
    width: 80%;
}

.info:hover {
    background-color: whitesmoke;
    border: 1px solid #b543a0;
    border-radius: 10px;
}

.pin {
    height: auto;
    padding: 0;
}

.all-description {
    margin-left: 10px;
    margin-right: 50px;
}
.main-description {
    padding: 0;
}

.description {
    display: block;
    text-align: left;
    height: auto;
    width: auto;
    position: relative;
    padding: auto;
}

.description h3 {
    color: #b543a0;
    margin: 20px 0;
    font-size: 16px;
}

.description a {
    color: #b543a0;
}

.description a:hover {
    text-shadow: 0 0 1px grey;
    text-decoration: none;
}

.description span {
    color: grey;
    font-size: 11px;
    padding: 0;
    vertical-align: center;
}

.distance span {
    padding-left: 20px;
    vertical-align: center;
}

.website {
    padding-top: 10px;
    padding-bottom: 10px;
}
.website a {
    color: darkblue;
    font-size: 11px;
    font-weight: bold;
}

.website a:hover {
    text-decoration: none;
    text-shadow: 0 0 1px grey;
}

.contact {
    text-align: left;
    font-size: 11px;
    display: block;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
}

.contact a {
    color: darkblue;
    font-size: 11px;
    font-weight: bold;
}

.contact a:hover {
    text-decoration: none;
    text-shadow: 0 0 1px grey;
}

.center-block {
    margin-top: 20px;
}
