.mainpage {
    background-image: url("../images/tlo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 995px;
    position: relative;
    /*padding-top: 200px;*/
}

.mainsection {
    padding-top: 450px;
}
