.placeStyle {
    width: 60px;
    height: 33px;
    background: url("../images/marker.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    position: absolute;
    top: -35px;
    left: -17.5px;
}

/*.placeStyle:hover {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*top:-50px;*/
    /*left: -25px;*/
/*}*/
.placeNameStyle {
    width:100px;
    position: absolute;
    top: 35px;
    left: -17.5px;
    color: black;
    font-family: Raleway, sans-serif;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.5);
}

.placeStyle:hover .placeNameStyle {
    /*top: 55px;*/
    /*left: -25px;*/
    text-decoration: underline;
}