.searching-main-div {

}

.button {
    margin: 10px;
}

.formshadow {
    box-shadow: 3px 3px 3px black;
}

.buttons-location{
    align-items: left;
}

.searching-pole {
    margin-left: 0;
    width: 530px;
    padding: 0;
}

.form-control {
    margin-top: 10px;
}
